.error {
    border-color: red;
  }

  .formRegistration {
    margin: 0 auto;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

h2 {
    margin: 0 0 10px 0;
    color: white;
    font-weight: 200;
}

.inputContainer .inputField {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    background-color: rgba(256, 256, 256, 0.1) !important;
    color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s, border-color 0.3s;
}

.inputField input {
    background: transparent;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    
}

.inputField input::placeholder {
    color: white;
    font-weight: 100;   
  }

  .inputField input:focus {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    color: white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }

  .loginAncor a,
  .loginAncor {
    color: white;
    font-weight: 100;
    font-size: small;
  }

  .loginAncor {
    display: inline-block;
    text-align: center;
    margin-top: 25%;
  }

  .pageForm {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
